# Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
Debug/
Release/
x64/
*.obj
*.pdb
*.ilk
*.exe
*.log

# Скомпилированные файлы
build/
out/
bin/

# Временные файлы
*.tmp
*.temp

# Системные
.DS_Store
Thumbs.db

# Генерируемые данные
data_*.json
